[submodule "vim/vim.symln_target/bundle/command-t"]
	path = vim/vim.symln_target/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "vim/vim.symln_target/bundle/Vundle.vim"]
	path = vim/vim.symln_target/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
